
body{
    background-color: rgb(167, 176, 227);
}

.titulo{
    color:rgb(242, 64, 33)
}

.nombre{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 250px;
    border-top: 8px black solid;
    border-right: 10px rgb(0, 255, 17) dashed;
    border-bottom: 8px rgb(53, 81, 208) dotted;
    padding-top: 50px;
}




