
body{
    background-color: rgb(167, 176, 227);
}

.titulo{
    color:rgb(242, 64, 33)
}

.nombre{
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 50px;
    margin-bottom: 250px;
    border-top: 8px black solid;
    border-right: 10px rgb(0, 255, 17) dashed;
    border-bottom: 8px rgb(53, 81, 208) dotted;
    padding-top: 50px;
}

.parrafoderecha{
    color: blue;
    font-size: 36px;
    text-align: right;
}

.centro{
    color: rgb(0, 255, 17);
    font-size: 40px;
    text-align: center;
}	

.left{
    color: rgb(76, 76, 115);
    font-size: 40px;
    text-align: left;
}

.ultimo{
    color: rgb(11, 11, 11);
    font-size: 36px;
    text-align: justify;
}

















